* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

.geral {
    text-align: center;
    margin-top: 20px; 
    font-family: system-ui;
}

#temperatura {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
}

#botao {
    height: 8vh;
    width: 15vw;
    background-color: white;
    border: 1px solid black;
    color: black;
}

#botao:hover {
    height: 8vh;
    width: 15vw;
    background-color: black;
    border: 1px solid black;
    color: white;
}

#resultado {
    font-size: larger;
    color: black;
    font-family: system-ui;
}