  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-color: #F3F3F3;
    font-family: "Inter", sans-serif;
    height: auto;
    width: 100%;
    font-style: normal;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  p {
    font-weight: 300;
  }

  header {
    width: 100%;
    background-color: #F3F3F3;
    padding: 5% 1% 1% 1%;
    height: 18rem;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  header li {
    list-style: none;
    text-transform: uppercase;
    scale: 0.9;
  }

  header h1 {
    letter-spacing: 2px;
  }

  header a {
    text-decoration: none;
    color: #969696;
    transition: 0.2s ease;
  }

  header a:hover {
    border-bottom: 1px solid rgba(57, 57, 231, 0.662745098);
    color: rgba(57, 57, 231, 0.662745098);
  }

  .parallax {
    background-image: url(../img/homepage.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  } 

  .slides {
    padding: 1rem;
    background: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .slides i {
    font-size: 2rem;
    color: rgba(40, 39, 41, 0.6862745098);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.2s all;
    user-select: none;
  }

  .slides i:hover {
    color: rgba(57, 57, 231, 0.662745098);
  }

  .slideshow-container {
    position: relative;
    max-width: 55rem;
    max-height: 35rem;
    margin: auto;
    overflow: hidden;
    background-color: #F3F3F3;
    border: 1px solid #969696;
  }

  .slide-atividades {
    display: none;
  }

  .slide-atividades.active {
        display: flex;
        inline-size: inherit;
        justify-content: center;
        align-items: center;
        width: 55rem;
        height: 35rem;
        padding: 3%;
  }

  .slide-atividades.active h1 {
    background-color: #191815;
    color: #FFF;
    padding: 3%;
  }

  .slide-atividades.active div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  .slide-atividades.active span {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inline-size: inherit;
    justify-content: center;
    align-items: center;
  }

  .slide-atividades.active span h2 {
    border-bottom: 2px solid #000000;
    width: -moz-max-content;
    width: max-content;
  }

  .slide-atividades.active span img {
    border: 1px solid #969696;
    max-width: 20vw;
  }

  .slide-atividades.active span p {
    text-align: justify;
  }

  .slide-atividades.active span button {
    color: #FFF;
    background-color: #191815;
    transition: ease 0.4s;
    width: 65%;
    height: 3rem;
    border: 1px solid #191815;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .slide-atividades.active span button:hover {
    color: #000000;
    background-color: transparent;
    border: 1px solid #191815;
  }

  .slide-sobre {
    display: none;
  }

  .slide-sobre.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55rem;
    height: 35rem;
  }

  .slide-sobre.active h2 {
    text-transform: uppercase;
    border-bottom: 2px solid #000000;
  }

  .slide-sobre.active div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
  }

  .slide-sobre.active div .presentation {
    display: flex;
    flex-direction: row;
    height: -moz-min-content;
    height: min-content;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .slide-sobre.active div .presentation img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 5px 8px 8px rgba(40, 39, 41, 0.6862745098);
  }

  .slide-sobre.active div .presentation span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .slide-sobre.active div .skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .slide-sobre.active div .skills ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .slide-sobre.active div .skills ul li {
    font-size: 1.5rem;
  }

  .slide-sobre.active div .skills ul li .blue {
    color: rgba(57, 57, 231, 0.662745098);
    font-weight: bold;
  }

  .slide-sobre.active div .skills ul button {
    color: #FFF;
    background-color: #191815;
    transition: ease 0.4s;
    width: 65%;
    height: 3rem;
    border: 1px solid #191815;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .slide-sobre.active div .skills ul button:hover {
    color: #000000;
    background-color: transparent;
    border: 1px solid #191815;
  }

  .tech {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 80%;
    gap: 2.5rem;
    transition: 0.3s;
  }

  .tech li {
    display: flex;
    gap: 1.5rem;
    height: 25%;
    justify-content: center;
    align-items: center;
  }

  .tech li img {
    width: 100%;
    filter: grayscale(1);
    height: 100%;
  }

  .future {
    display: flex;
    gap: 2rem;
  }

  .future div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .future div h2 {
    width: fit-content;
  }

  footer {
    width: 100%;
    height: 20rem;
    background-color: #000000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
  }

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .brand img {
    width: 9%;
  }

  .brand div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .socials {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }

  .socials h2 {
    border-bottom: 2px solid #F3F3F3;
    text-align: center;
  }

  .socials div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials div:first-child a {
    text-decoration: none;
    color: #FFF;
  }

  .socials div:first-child a:hover {
    color: rgba(57, 57, 231, 0.662745098);
  }

  .socials div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials div:nth-child(2) span {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }

  .socials div:nth-child(2) span a {
    text-decoration: none;
    color: #FFF;
    scale: 1.7;
  }

  .socials div:nth-child(2) span a:hover {
    color: rgba(57, 57, 231, 0.662745098);
  }

  .copy {
    transform: scale(0.6);
    text-align: center;
    width: 100%;
  }