@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F3F3;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  font-style: normal;
}

h1, h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
}

header {
  width: 100%;
  background-color: #F3F3F3;
  padding: 5% 1% 1% 1%;
  height: 18rem;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header ul {
  display: flex;
  gap: 5rem;
}

header li {
  list-style: none;
  text-transform: uppercase;
  scale: 0.9;
}

header a {
  text-decoration: none;
  color: #969696;
  transition: 0.2s ease;
}

header a:hover {
  border-bottom: 1px solid rgba(57, 57, 231, 0.66);
  color: rgba(57, 57, 231, 0.66);
}

.parallax {
  background-image: url(../img/homepage.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.activities-list {
  background: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.activity {
  background-color: #FFF;
  border: 1px solid #969696;
  gap: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.activity:hover {
  transform: scale(1.05);
}

.activity h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.activity img {
  width: 50%;
  height: auto;
  border: 1px solid #969696;
  margin-bottom: 1rem;
}

.activity p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.activity button {
  color: #FFF;
  background-color: #191815;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  transition: background-color 0.4s;
}

.activity button:hover {
  background-color: #000000;
}

section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.presentation img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.skills img {
  filter: grayscale(5);
  transition: all 0.4s;
}

.skills img:hover {
  filter: none;
}

.goals {
  display: flex;
  gap: 3rem;
}

.goals div {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #000000;
  color: #FFF;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.socials h2 {
  border-bottom: 2px solid #FFF;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.socials a {
  color: #FFF;
  font-size: 1.5rem;
}

.copy {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}
