@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F3F3;
  font-family: "Inter", sans-serif;
  height: auto;
  width: 100%;
  font-style: normal;
}

body h1 {
  font-weight: 600;
}

body h2 {
  font-weight: 500;
}

body h3 {
  font-weight: 400;
}

body p {
  font-weight: 300;
}

.header-index {
  width: 100%;
  background-color: #F3F3F3;
  padding: 5% 1% 1% 1%;
  height: 18rem;
}

.header-index nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-index ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.header-index li {
  list-style: none;
  text-transform: uppercase;
  scale: 0.9;
}

.header-index h1 {
  letter-spacing: 2px;
}

.header-index a {
  text-decoration: none;
  color: #969696;
  transition: 0.2s ease;
}

.header-index a:hover {
  border-bottom: 1px solid rgba(57, 57, 231, 0.662745098);
  color: rgba(57, 57, 231, 0.662745098);
}

.index-parallax {
  background-image: url(../img/homepage.jpg);
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.index-main {
  padding: 1rem;
  background: #F3F3F3;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 30vw;
  aspect-ratio: 1/0.7;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 90%;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card .content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card .content h2 {
  margin-bottom: 0.75;
  scale: 0.7;
  color: #FFF;
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.card .content p {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #F3F3F3;
  transform: translateY(50%);
  opacity: 0;
  transition: 0.4s 0.2s ease;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #FFF;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hoverafter {
  opacity: 1;
  inset: 1.25rem;
}

.card:hover .content h2 {
  scale: 1;
  opacity: 1;
}

.card:hover .content P {
  opacity: 1;
  transform: translateY(0);
}

.index-section {
  padding: 2%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.index-section>i {
  font-size: 2rem;
  color: rgba(40, 39, 41, 0.6862745098);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.2s all;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.index-section>i:hover {
  color: rgba(57, 57, 231, 0.662745098);
}

.slideshow-container {
  position: relative;
  max-width: 55rem;
  max-height: 35rem;
  margin: auto;
  overflow: hidden;
  background-color: #F3F3F3;
  border: 1px solid #969696;
}

.slide {
  display: none;
}

.slide.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.75rem;
  width: 55rem;
  height: 35rem;
}

.slide.active h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
}

.creator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.creator .presentation {
  display: flex;
  flex-direction: row;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.creator .presentation img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 5px 8px 8px rgba(40, 39, 41, 0.6862745098);
}

.creator .presentation span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.creator .skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.creator .skills ul {
  list-style: circle;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.creator .skills ul li {
  font-size: 1.5rem;
}

.creator .skills ul li .blue {
  color: rgba(57, 57, 231, 0.662745098);
  font-weight: bold;
}

.creator .skills ul button {
  color: #FFF;
  background-color: #191815;
  transition: ease 0.4s;
  width: 65%;
  height: 3rem;
  border: 1px solid #191815;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

.creator .skills ul button:hover {
  color: #000000;
  background-color: transparent;
  border: 1px solid #191815;
}

.tech {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 80%;
  gap: 2.5rem;
  transition: 0.3s;
}

.tech li {
  display: flex;
  gap: 1.5rem;
  height: 25%;
  justify-content: center;
  align-items: center;
}

.tech li img {
  width: 100%;
  filter: grayscale(1);
  height: 100%;
}

.future {
  display: flex; 
  gap: 2rem;
}

.future div {
  display: flex; 
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.future div h2 {
  width: fit-content;
}

.index-footer {
  width: 100%;
  height: 20rem;
  background-color: #000000;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand img {
  width: 9%;
}

.brand div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.socials {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.socials h2 {
  border-bottom: 2px solid #F3F3F3;
  text-align: center;
}

.socials div:first-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials div:first-child a {
  text-decoration: none;
  color: #FFF;
}

.socials div:first-child a:hover {
  color: rgba(57, 57, 231, 0.662745098);
}

.socials div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials div:nth-child(2) span {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.socials div:nth-child(2) span a {
  text-decoration: none;
  color: #FFF;
  scale: 1.7;
}

.socials div:nth-child(2) span a:hover {
  color: rgba(57, 57, 231, 0.662745098);
}

.copy {
  transform: scale(0.6);
  text-align: center;
  width: 100%;
}