* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

#title {
  font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topline {
    width: 80%;
    margin-top: 2%;
  }

.imgs {
    width: 15%;
}

