* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

#title {
  font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topline {
    width: 80%;
    margin-top: 2%;
  }

.imgs {
    border: 1px solid gray;
}

#black {
    width: 20.8%;
}

#defaultOne {
    width: 20%;
}

#defaultTwo {
    width: 20%;
}

#eletric {
    width: 20%;
}

#white {
    width: 20%;
}

#blue {
    width: 20%;
}
