* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .image-container {
    display: flex;
  }
  
  .image {
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .image img {
    width: 150px;
    height: 150px;
  }
  
  .image p {
    margin-top: 10px;
  }
  
  .image:hover {
    transform: scale(1.2);
  }