body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(99, 0, 192);
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 85px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid rgb(50, 0, 63);
}

#number {
    width: 30vw;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    width: 10vw;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.radio {
    margin-right: 5px;
}

button {
    border: 0;
    width: 5vw;
    height: 7vh;
    background-color: rgb(99, 0, 192);
    color: white;
    margin-left: 1%;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
}

#res {
    text-align: justify;
    width: 10vw;
    height: 2.2vw;
    margin-top: 3%;
    padding: 5px;
}

footer {
    background-color: rgb(99, 0, 192);
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 98.5vw;
}