@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Montserrat';
    background-color: #d3d3d3;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

#open-sidebar {
    position: fixed;
    top: 2%;
    left: 2%;
    background: none;
    border: none;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
}

.sidebar {
    width: 13%;
    height: 100%;
    background-color: #006400;
    padding: 2vh;
    box-shadow: 0.4vh 0 0 black;
    position: fixed;
    overflow: auto;
    transition: transform 0.3s ease;
}

.header-sidebar {
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar {
    width: 1vw;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul button {
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

ul button li {
    padding: 10%;
    border-bottom: 1px solid transparent;
    font-size: 1.2rem;
    color: #fff;
}

main {
    margin-left: 1rem;
}