@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #d3d3d3;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

#open-sidebar {
    position: fixed;
    top: 5.5%;
    left: 1.5%;
    border-radius: 50%;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    transition: ease 0.4s;
    padding: 5px;
}

#open-sidebar:hover {
    background-color: #b3b3b3;
}

.sidebar {
    min-width: 13%;
    height: 100%;
    background-color: #006400;
    padding: 2vh;
    box-shadow: 0.4vh 0 0 #000;
    position: fixed;
    overflow: auto;
    transition: transform 0.3s ease;
}

.header-sidebar {
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

#menu-icon {
    font-size: 2rem;
    transition: ease 0.4s;
    border-radius: 50%;
    border: 0;
    margin-bottom: 0.25rem;
    padding: 5px;
}

#menu-icon:hover {
    background-color: #004e00;
}

.sidebar::-webkit-scrollbar {
    width: 1vw;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #000;
}

ul {
    list-style: none;
}

ul a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    text-align: justify;
}

ul a li {
    padding: 10%;
    border-bottom: 1px solid transparent;
    font-size: 1.15rem;
    color: #fff;
}

ul a li:hover {
    background-color: #004e00;
}

.main-content {
    display: flex;
    width: 82%;
    margin-left: 13rem;
}

.main-total {
    margin-left: 5rem;
    display: flex;
    width: 92%;
}

main {
    transition: all 0.4s;
}

main .sinopse-container section {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

main .sinopse-container section h2 {
    margin-bottom: 1rem;
    letter-spacing: 1.5px;
    font-weight: 800;
    color: #004e00;
    text-transform: uppercase;
}

main .sinopse-container section p {
    text-align: justify;
    margin-bottom: 0.5rem;
    letter-spacing: 1.5px;
}

main .sinopse-container .imgs-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

main .imgs {
    max-width: 27%;
    margin-bottom: 1rem;
    margin-right: 0.8rem;
    transition: ease 0.4s;
    border-radius: 2%;
}

main .imgs:hover {
    transform: scale(0.95);
}

@media only screen and (max-width: 784px) {
    .main-content {
        width: 70%;
        margin-left: 12rem;
    }
    
    .main-total {
        width: 80%;
        margin-left: 5rem;
    }
  }

  @media only screen and (max-width: 1115px) {
    .main-content {
        width: 70%;
        margin-left: 12rem;
    }
    
    .main-total {
        width: 80%;
        margin-left: 5rem;
    }
  }

  @media only screen and (max-width: 680px) {
    .main-content {
        width: 60%;
        margin-left: 12rem;
    }
    
    .main-total {
        width: 70%;
        margin-left: 5rem;
    }
  }