:root {
    --lightOne: #FFF;
    --lightTwo: #F3F3F3;
    --lightThree: #969696;
    --darkOne: #282729AF;
    --darkTwo: #000000;
    --darkThree: #191815;
    --hoverColor: #1F1FBDA9;
}

.index-page {
    height: auto;
    width: 100%;
}

.header-index {
    width: 100%;
    background-color: var(--lightTwo);
    padding: 5% 1% 1% 1%;
    height: 18rem;
}

.header-index nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-index ul {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.header-index li {
    list-style: none;
    text-transform: uppercase;
    scale: 0.9;
}

.header-index h1 {
    letter-spacing: 2px;
}

.header-index a {
    text-decoration: none;
    color: var(--lightThree);
    transition: .2s ease;
}

.header-index a:hover {
    text-decoration: overline;
    color: var(--hoverColor);
}

.index-parallax {
    background-image: url(../img/homepage.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.index-main {
    padding: 1rem;
    background: var(--lightTwo);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 30vw;
    aspect-ratio: 1 / 0.7;
    border-radius: .25rem;
    position: relative;
    cursor: pointer;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--lightOne);
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
    opacity: 1;
    inset: 1.25rem;
}

.card .content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card .content h2,
.card .content p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}

.card .content h2 {
    margin-bottom: 0.75;
    scale: 0.7;
    color: var(--lightOne);
}

.card .content p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--lightTwo);
    transform: translateY(50%);
}

.card:hover .content h2 {
    scale: 1;
    opacity: 1;
}

.card:hover .content P {
    opacity: 1;
    transform: translateY(0);
}

.index-section {
    padding: 1%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.index-section>span {
    font-family: 'Material Icons';
    font-size: 3rem;
    color: var(--darkOne);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .2s all;
    user-select: none;
    border-radius: 50%;
}

.index-section>span:hover {
    color: var(--hoverColor);
}

.slideshow-container {
    position: relative;
    max-width: 55rem;
    max-height: 35rem;
    margin: auto;
    overflow: hidden;
    background-color: var(--lightThree);
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    width: 55rem;
    height: 35rem;
}

.slide.active h2 {
    text-transform: uppercase;
    border-bottom: 2px solid var(--darkTwo);
}

.accordion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 70%;
    gap: 1rem;
    transition: 0.3s;
}

.accordion:hover {
    gap: 0;
}

.accordion li {
    position: relative;
    overflow: hidden;
    flex: 0 0 5rem;
    border-radius: 5%;
    opacity: 0.75;
    cursor: pointer;
}

.accordion li img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 85%;
    height: 85%;
    object-fit: contain;
    filter: grayscale(0.5);
}

.accordion li,
.accordion li img,
.accordion li .content,
.accordion li .content span {
    transition: 0.3s;
}

.accordion h2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    border-bottom: 2px solid var(--lightOne);
    margin-bottom: 0.625rem;
    white-space: nowrap;
}

.accordion li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: var(--lightOne);
    padding: 0.9rem;
    background: linear-gradient(0deg,
            rgb(0 0 0 / 70%) 10%,
            rgba(0, 0, 0, 0.13) 100%);
    opacity: 0;
    visibility: hidden;
}

.accordion li .content span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    translate: -18.75rem 0;
    visibility: hidden;
    opacity: 0;
}

.accordion li:hover {
    flex: 0 1 16.25rem;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.accordion li:hover .content {
    opacity: 1;
    visibility: visible;
}

.accordion li:hover span {
    translate: -50% 0;
    opacity: 1;
    visibility: visible;
}

.creator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.creator .presentation {
    display: flex;
    flex-direction: row;
    height: min-content;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.creator .presentation img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 5px 8px 8px var(--darkOne);
}

.creator .presentation span {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.creator .skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.creator .skills ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.creator .skills ul li {
    font-size: 1.5rem;
}

.creator .skills ul li span {
    color: var(--hoverColor);
    font-weight: bold;
}

.creator .skills ul button {
    color: var(--lightOne);
    background-color: var(--darkThree);
    transition: ease .4s;
    width: 65%;
    height: 3rem;
    border: 1px solid var(--darkThree);
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

.creator .skills ul button:hover {
    color: var(--darkTwo);
    background-color: transparent;
    border: 1px solid var(--darkThree);
}

.index-footer {
    width: 100%;
    height: 33rem;
    background-color: var(--darkTwo);
    color: var(--lightOne);
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 1rem;
}

.brand {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand img {
    scale: 0.3;
}

.brand div {
    display: flex;
    align-items: center;
    height: 10rem;
}

.socials {
    flex-direction: row;
    display: flex;
}

.copy {
    scale: 0.6;
    text-align: justify;
    width: 100%;
}