:root {
    --lightOne: #FFF;
    --lightTwo: #CCC;
    --lightThree: #8D8D8D;
    --darkOne: #282729;
    --darkTwo: #051119;
    --darkThree: #191815;
}

.index-page {
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 200vh;
}

.header-index {
    width: 100%;
    transition: top 0.3s ease-in-out;
    position: fixed;
    background-color: var(--lightThree);
    top: 0;
    padding: 1%;
}

.index-parallax {
    background-image: url(../img/homepage.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.index-main {
    padding: 40px 0;
    background: var(--lightTwo);
}

.index-main div {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}