:root {
    --lightOne: #FFF;
    --lightTwo: #CCC;
    --lightThree: #8D8D8D;
    --darkOne: #282729;
    --darkTwo: #051119;
    --darkThree: #191815;
}

.index-page {
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 200vh;
}

.header-index {
    width: 100%;
    transition: top 0.3s ease-in-out;
    position: fixed;
    background-color: var(--lightThree);
    top: 0;
    padding: 1%;
}

.header-index.hidden {
    top: -6.25rem;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background: #ece7d5;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.parallax h1 {
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}