@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --lightOne: #FFF;
    --lightTwo: #F3F3F3;
    --lightThree: #969696;
    --darkOne: #282729AF;
    --darkTwo: #000000;
    --darkThree: #191815;
    --hoverColor: #3939E7A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--lightTwo);
    font-family: "Inter", sans-serif;
    height: auto;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-weight: 400;
    font-style: normal;
}

p {
    font-weight: 300;
    font-style: normal;
}