* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#lista {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    background-color: #646464;
    padding: 20px;
    transition: left 0.3s; 
}