* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
}

/* id=# class=. */

#arrayCriada {
    text-align: center;
    font-size: medium;
    font-family: Arial;
    font-style: normal;
}

#opcoes {
    text-align: center;
    margin-top: 50px;
}

.botao {
    height: 10vh;
    width: 13vw;
    border: solid 1px black;
    background-color: white;
    color: black;
}

.botao:hover {
    height: 10vh;
    width: 13vw;
    background-color: black;
    color: white;
    border: solid 1px black;
}

#display{
    height: 8vh;
    width: 39.5vw;
    padding: 10px;
    font-size: larger;
    font-size: medium;
}

#tit {
    text-align: center;
    font-family: system-ui;
    font-style: italic;
    margin-top: 200px;
}